extends templates/base

block variables
	- let title = 'Страница каталога товаров'
	- let desc = 'Описание каталога товаров'
	- let isPage = 2



block content
	//- Тут контент страницы
	
	.site-content
		.container
			h1 Страница каталога товаров
			p Content