extends templates/base

block variables
	- let title = 'Страница контактов'
	- let desc = 'Описание страницы контактов'
	- let isPage = 3



block content
	//- Тут контент страницы
	
	.site-content
		.container
			h1 Страница контактов
			p Content