extends templates/home
//- Переменные
block variables
	- let title = 'Starter project v5.0.1'
	- let desc = 'Starter template for site layout'
	- let isPage = 1 // Номер текущей страницы в меню, для добавления ".active" (начинается с 1)



block content
	//- Тут контент страницы

	.site-content
		.container
			h1 Главная страница
			p Content home page



