.block-1
	h2 Это блок - 1
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dicta inventore, nobis ducimus blanditiis consequatur aut ab laborum officia corporis.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dicta inventore, nobis ducimus blanditiis consequatur aut ab laborum officia corporis.
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dicta inventore, nobis ducimus blanditiis consequatur aut ab laborum officia corporis.