.block-1
	.container
		h2 Блок 1 (подключен только к шаблону главной страницы)
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dicta inventore, nobis ducimus blanditiis consequatur aut ab laborum officia corporis.
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dicta inventore, nobis ducimus blanditiis consequatur aut ab laborum officia corporis.