.block-2
	.container
		h2 Блок 2 (выводится в базовом шаблоне, подключен на всех страницах кроме главной)
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dicta inventore, nobis ducimus blanditiis consequatur aut ab laborum officia corporis.
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dicta inventore, nobis ducimus blanditiis consequatur aut ab laborum officia corporis.
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dicta inventore, nobis ducimus blanditiis consequatur aut ab laborum officia corporis.