block variables



doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		//- base(href="/")>
		title #{title}
		meta(name="description" content=desc)
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="icon" href="images/favicon.png")
		meta(property="og:image" content="images/dist/preview.jpg")
		link(rel="stylesheet" href="css/main.min.css")

	body
		include ../blocks/header
		block content
		include ../../components/block-2/index
		include ../blocks/footer